<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".ScoutOperatorApplication"
        android:allowBackup="false"
        android:label="Scout Operator"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScoutOperator"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".LockedVaultRestoreActivity"
            android:exported="false" />

        <activity
            android:name=".StageDProofActivity"
            android:exported="false" />

        <activity
            android:name=".CredentialRekeyActivity"
            android:exported="false" />

        <activity
            android:name=".RecoveryWordsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".OperatorHubActivity"
            android:exported="true"
            android:label="Scout Stage D">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CredentialRecoveryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
